.container {
  transform: translate(0, 100px);
  width: 80%;
}

ul {
  list-style-type: none;
  padding-bottom: 10px;
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.jobTitle {
  font-weight: bold;
  font-size: 16pt;
}
